@font-face {
    font-family: 'moniqa';
    src: url('Fonts/moniqa-variable.ttf') format('truetype')
}

body {
    background: hsl(40deg 29% 89%);
    overflow-x: hidden;

    min-height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    height: -webkit-fill-available;
}

.outerwrap {
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
}
.top-bar {
    height: 120px;
    display: grid;
}
.top-bar > input {
    color: #424242;
    margin: auto auto 10px calc(10% - 10px);

    width: calc(100% - 20%);

    font-size: 3em;
    font-family: hk_groteskbold;

    border: none;
    background-color: rgba(255, 255, 255, 0);

    text-indent: 5px;
    padding: 5px;
    line-height: 0px;
}
.top-bar > input:focus {
    outline: none;

    border-radius: 1rem;

    background-color: #f2ede3;
    box-shadow: 0 0 0 2px #dbd5c7 !important;
}

.outerwrap.mobile > .top-bar > input:focus {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}

.outerwrap > .bodycontent {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:auto;
}

.taskcontainer {
    margin: 37.5px 10%;
    
    height: min-content;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.taskcontainer.mobile > .task-list-item > .taskDetails > .taskTitle  {
    font-family: hk_groteskbold;
}

.taskcontainer > label.Today {
    font-family: Stolzl;
    font-size: 0.9em;
    font-weight: 500;
}
.taskcontainer > label.Today {
    color: #AF9D65;
    margin-bottom: 30px;
}

.task-list-item:first-of-type {
    border-radius: 12px 12px 0 0;
    border-top: none;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.048);
}
.task-list-item {
    position: relative;
    cursor: pointer;

    border-radius: 0 0 12px 12px;
    background-color: hsl(41, 38%, 92%);
    border-top: #e2dfd3 1px solid;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.048);

    font-family: hk_groteskregular;
    font-size: 0.9em;

    display: grid;

    transition: box-shadow 0.2s ease, background-color 0.2s ease;
}
.task-list-item.completed {
    background-color: #ece6da00;
}
.task-list-item.completed * {
    text-decoration: line-through;
}

.task-list-item.active, .task-list-item.checked {
    background-color: #f9f5ec;
}

.task-list-item.noDesc{
    height: 82px;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.task-list-item > div.task-select-container {
    position: absolute;
    top: 23px;
    left: 18px;
}

.taskDetails {
    margin: 23px 24px 23px 50px;

    display: grid;
    row-gap: 10px;
}

.taskTitle {
    font-family: hk_groteskmedium;
    color: #454545;
}
.taskDesc {
    font-weight: 300;
    color: #b5b5aa;
}
.spacer {
    position: absolute;
    left: 0;
    bottom: -40%;
    width: 10px;
    height: 10px;
}


.taskViewContainer {
    touch-action: none;

    position: fixed;
    bottom: -5%;

    width: 100%;
    height: 60%;
    max-height: 60%;

    opacity: 0;
    
    background-color: #F8F5EF;
    box-shadow: 0px 3px 26px rgba(0, 0, 0, 0.123);

    display: none;
    grid-template-rows: min-content 1fr 1fr;
    grid-template-columns: 1fr;

    transition: bottom ease 0.3s, opacity ease 0.3s;
}
.taskViewContainer.shown {
    transition: bottom ease 0.3s, opacity ease 0.2s;
    opacity: 1;
    bottom: 0;
}
.taskViewContainer.mobile {
    grid-template-rows: min-content min-content min-content;
}

.taskViewTitle {
    color: #484848;
    margin: 38px 38px 0px 38px;

    font-size: 2.5em;
    font-family: 'hk_groteskbold';
}

.descWrapper {
    margin: 38px;
}
.descLabel {
    font-family: hk_groteskbold;
    color: #B2A681;
}
.taskViewDesc {
    margin-top: 10px;
    font-family: hk_groteskregular;
    color: #6C6C6C;
}

.actions-container {
    margin: 20px 38px 0 38px;
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: 1fr;
}
.doneButton {
    font-family: hk_groteskbold;

    cursor: pointer;
    color: #654F12;

    border-radius: 1rem;
    background-color: #E8DBB7;
    box-shadow: 0px 3px 26px #d9ab2336;

    height: 50px;
    width: 90%;

    margin: auto auto 50px auto; 

    display: grid;
    place-items: center;

    transform: scale(1, 1);
    transition: transform 0.2s;
}
.taskViewContainer.mobile .doneButton {
    margin: 0 auto;
}

.doneButton:active {
    transform: scale(0.97, 0.97);
}

.actions-container > .material-icons {
    font-size: 30px;
}
.actions-container > .material-icons.done_all {
    margin: auto 20px 60px 20px;
    color: #405819;
}
.actions-container > .material-icons.delete {
    margin: auto 20px 60px 20px;
    color: #DBC4B0;
}

.taskViewContainer.mobile .actions-container > .material-icons.done_all {
    margin: auto 0 auto 20px;
}
.taskViewContainer.mobile .actions-container > .material-icons.delete {
    margin: auto 20px auto 0;
}